<html>
  <head>
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
  </head>
  <body>
 <form id="uploadForm"
      enctype="multipart/form-data"
      action="/FileUpload/upload"
      method="post" name="uploadForm" novalidate>
      
    <input type="text" id="userDataInput" name="userData" id ="userData" />
    <input type="file" id="userPhotoInput" name="userPhoto" id ="userPhoto" />
    
 <input type="submit" value="submit"/>
</form>
  </body>
</html>